[submodule "Reference/ShenShen-doc"]
	path = Reference/ShenShen-doc
	url = https://github.com/michgz/wenzhou-chinese-lang.git
[submodule "Reference/rime-pinyin-simp"]
	path = Reference/rime-pinyin-simp
	url = https://github.com/rime/rime-pinyin-simp.git
[submodule "Reference/dict-dialects"]
	path = Reference/dict-dialects
	url = https://github.com/ZWolken/Great-Dictionary-of-Modern-Chinese-Dialects.git
